.sass-cache
/web/wp-content/themes/themename/css/screen.css*

/vendor
/web/wordpress
/web/wp-config.php
/web/version.php
/web/.htaccess

/web/wp-content/plugins/*
!/web/wp-content/plugins/.gitkeep
/web/wp-content/uploads/*
!/web/wp-content/uploads/.gitkeep
/web/wp-content/cache/*
!/web/wp-content/cache/.gitkeep
/web/wp-content/aam/*
!/web/wp-content/aam/.gitkeep
/web/wp-content/w3tc-config/*
!/web/wp-content/w3tc-config/.gitkeep

/web/wp-content/advanced-cache.php
/web/wp-content/db.php
/web/wp-content/object-cache.php

/web/wp-content/debug.log
/node_modules
