/**
 * Breakpoint guide:
 * usage: @include bp(<breakpoint-name>) { property: value; }
 *
 *      470px           768px                 992px                1200px
 * ------------------------------------------------------------------------------------
 * xxs    |               |          sm         |         md         |       lg
 * ------------------------------------------------------------------------------------
 *                                    lt-lg                          |
 * ------------------------------------------------------------------------------------
 *                      lt-md                   |                  gt-sm
 * ------------------------------------------------------------------------------------
 *           xs           |                        gt-xs
 * ------------------------------------------------------------------------------------
 **/

@charset "UTF-8";

@import "partials/bootstrap_includes.scss";
@import "partials/forms";
@import "partials/mixins";
@import "partials/typography";
@import "partials/settings";
@import "partials/wordpress";

@import "sections/header";
@import "sections/footer";

/* helper classes */
.padding-none { padding: 0; }
.margin-none { margin: 0; }
.tac { text-align: center; }

/* browse happy */
.browsehappy {
    text-align: center;
    padding: 12px;
    border-bottom: 2px solid red;
    a {
        text-decoration: underline;
    }
}
